<h1>Log In</h1> <br/>
<% if @failed_login %>
  <script type="text/javascript">
    alert("Incorrect Email or Password!");
  </script>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
  Email: <%= f.email_field :email, :placeholder => "Email" %> <br/> <br/>
  Password: <%= f.password_field :password, :placeholder => "Password" %> <br/> <br/>
  <%= f.submit "Log In"%>
<% end %>
