<div class="container">

  <h1><%= @admin.name%>'s Admin Controls</h1>
  <br>
  <h2>User List:</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Type</th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= (user.type.nil?) ? "User" : user.type %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
