<div class="container">
  <h1><%= @video.title %></h1>
  <hr>
  <%= video_tag(@video.filename.url, alt: '@video.title')%>

  <br>
  <div class="centerbtns">
    <%= button_to "Delete",  @video, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{@video.title}?"} %>
  </div>
</div>
