<!DOCTYPE html>
<html>
<body>

<h1>Streamshare</h1>

<div class="login_window">
  <h4>Welcome</h4>
  <form autocomplete="on">
    <input type="email" placeholder="Email">
    <input type="password" autocomplete="off" placeholder="Password">
    <br>
    <button class="login_button">Login</button>
    <button class="signup_button">Sign Up!</button>
    <label>
  </form>
</div>
</body>
</html>
