<!DOCTYPE html>
<html>
<body>


<div class="container">
  <div class="jumbotron">
    <img class="logo" src="<%= asset_path( 'sswhite.png' ) %>">


    <div class="login_window">
      <h4>Welcome</h4>
      <form autocomplete="on">
        <input type="email" placeholder="Email">
        <input type="password" autocomplete="off" placeholder="Password">
        <br>
        <button class="login_button">Login</button>
        <button class="signup_button">Sign Up!</button>
        <label>
      </form>
    </div>
  </div>
</div>

</body>
</html>
