<div class="container">

  <%= link_to "Upload Videos", new_video_path, class: "btn btn-primary" %>
  <%= link_to "Upload Images", new_image_path, class: "btn btn-primary" %>
  <%= link_to "Upload Music", new_song_path, class: "btn btn-primary" %>

</div>
