// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #e8e6f8;
}

h4 {
  color: #261c62;
  font-family: arial;
  font-size: 150%;
  text-align: center;
}

.login_window {
    background: #b9b4e9;
    border-radius: 8px;
    margin: auto;
    margin-top: 3%;
    height: 50%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 50%;
}

.login_button {
  background-color: #746ad2;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 3px;
  text-align: center;
  width: 25%;
  margin-top: 10px;
  margin-left: 38%;
}

.signup_window {
    background: #b9b4e9;
    border-radius: 8px;
    margin: auto;
    margin-top: 3%;
    height: 50%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 50%;
}

.signup_button {
  background-color: #746ad2;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 5px;
  text-align: center;
  width: 30%;
  margin-top: 10px;
  margin-left: 35%;
}

input[type="text"] {
    margin-left: 20%;
    width: 60%;
    color: black;
}

input[type="email"] {
    margin-left: 20%;
    width: 60%;
    color: black;
}

input[type="password"] {
    margin-top: 5px;
    margin-left: 20%;
    width: 60%;
    color: black;
}

#upload_title {
  margin-left: 1%;
  width: 15%;
}

#video_title {
  margin-left: 1%;
  width: 15%;
}

#image_title {
  margin-left: 1%;
  width: 15%;
}

#song_title {
  margin-left: 1%;
  width: 15%;
}

.logo {
  display: block;
  margin: auto;
  width: 50%;
}

.btn-danger {
  float: left;
}

.btn-info {
  margin-left: 10px;
}

.purple-button {
  background-color: #746ad2;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 5px;
  text-align: center;
  width: 12%;
}
