// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #e8e6f8;
}

h4 {
  color: #261c62;
  font-family: arial;
  font-size: 200%;
  text-align: center;
}

.login_window {
    background: #b9b4e9;
    border-radius: 8px;
    margin: auto;
    margin-top: 3%;
    height: 50%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 50%;
}

.login_button {
  background-color: #746ad2;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 3px;
  text-align: center;
  width: 20%;
  margin-top: 10px;
  margin-left: 39%;
}

.signup_window {
    background: #b9b4e9;
    border-radius: 8px;
    margin: auto;
    margin-top: 3%;
    height: 50%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 50%;
}

.signup_button {
  background-color: #746ad2;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 5px;
  text-align: center;
  width: 20%;
  margin-top: 10px;
  margin-left: 40%;
}

input[type="text"] {
    margin-left: 32%;
    width: 36%;
    color: black;
}

input[type="email"] {
    margin-left: 32%;
    width: 36%;
    color: black;
}

input[type="password"] {
    margin-top: 5px;
    margin-left: 32%;
    width: 36%;
    color: black;
}

.logo{
  display: block;
  margin: auto;
  width: 50%;
}
